{% extends "error/layout" %}

{% block content %}
    {{ super() }}

    <div class="container">
        <h1 class="h1 text-dark error-header">Whoops!</h1>

        <hr/>

        <p class="text-dark error-text">
            Something went wrong!

            <br/><br/>

            Someone might fix it eventually. ¯\_(ツ)_/¯
        </p>
    </div>
{% endblock content %}
