{% extends "layout" %}

{% block content %}
    {{ super() }}

    <div class="container">
        {% include "successes" %}
    </div>

    {% include "folder/header" %}

    <div class="row mx-0">
        {% include "folder/set" %}

        {% include "file/set" %}
    </div>
{% endblock content %}
