body, html {
    background-color: #F5F5F5;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#root, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#viewport {
    height: calc(100% - 56px);
}

input {
    background: transparent;
    border: none;
    color: rgba(250, 250, 250, .87);
}

.fill {
    height: 100%;
}

.top-bar {
    background-color: #607D8B;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.24),
    0px 4px 5px 0px rgba(0, 0, 0, 0.22),
    0px 1px 10px 0px rgba(0, 0, 0, 0.2);
    color: rgba(250, 250, 250, 1);
    z-index: 1035;
}

.top-bar a {
    color: rgba(250, 250, 250, 1);
}

.panel-blue-gray {
    background-color: #607D8B;
    color: rgba(250, 250, 250, .87);
    box-shadow: 0 2px 5px rgba(0,0,0,.75);
}

.panel-heading-blue-gray {
    color: #FAFAFA;
    padding: 1rem;
    border-bottom: 1px solid #FAFAFA;
}

.panel-body-blue-gray {
    padding: 1rem;
}

.panel-footer-blue-gray {
    border-top: 1px solid #FAFAFA;
    padding: 1rem;
}

.s-nav {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.folder-list, .folder-list .folder {
    background: none;
    color: #424242;
}

.action-set {
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.125)
}

.folder-list a:hover, .action-set .action:hover {
    background-color: rgba(66,66,66,.26);
    color: #212121;
}

.display {
    display: inherit;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: .3s;
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.slide-in {
    animation-name: slide-in;
    animation-duration: .1s;
}

@keyframes slide-in {
    from {
        right: 100%;
    }
    to {
        right: 0%;
    }
}

.input, .input:focus {
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 0px;
    color: #FAFAFA;
    box-shadow: none;
}

.button, .button:hover {
    border: none;
    border-radius: 0px;
    color: #FAFAFA;
    box-shadow: none;
    animation: none;
}

.button-primary {
    background-color: #424242;
}

.file-set {
    overflow-y: scroll;
}

.file {
    width: 15rem;
    float: left;
    background-color: #424242;
    margin: 2.5rem 1.5rem 2.5rem 1.5rem;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.file-header {
    width: 100%;
    height: 9rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file-body {
    height: 3rem;
    width: 100%;
    background-color: #607D8B;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.file-name {
    color: rgba(250, 250, 250, .87);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    vertical-align: middle;
}

.file-actions {
    height: 100%;
    width: 100%;
}

.file-drop {
    border-top: 1px solid rgba(0,0,0,.125);
}

.file-drop-target {
    height: 100%;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
    background-color: rgba(66,66,66,.13);
}

.s-dropdown-menu {
    border-radius: 0;
    padding: 0;
    background-color: #424242;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.s-dropdown-toggle, .s-dropdown-toggle:hover, .s-dropdown-toggle:active {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.s-dropdown-item {
    color: rgba(250, 250, 250, .87);
}

.s-dropdown-item:hover {
    background-color: #FF5722;
    color: rgba(33, 33, 33, .87);
}
