body, html {
    background-color: #F5F5F5;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#root, #app {
    height: 100%;
    width: 100%;
}

#viewport {
    height: calc(100% - 65px);
}

.w3-bar {
    box-shadow: 0 2px 2px #212121;
}

.nav-item {
    color: #EEEEEE;
    margin: 10px;
}

.folder {
    border-bottom: 1px solid #9E9E9E;
    font-size: 22px;
    word-wrap: break-word;
}

.folder a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.folder:hover {
    background-color: #BDBDBD;
}

.folder-list {
    max-width: 300px;
    overflow-y: auto;
    height: 100%;
    padding: 10px;
    float: left;
}

.folder-list::-webkit-scrollbar
{
    width: 0px;
}

.login-form {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    box-shadow: 0 2px 2px #212121;
}

.login-btn {
    background-color: #424242;
    float: right;
}

.w3-btn:hover {
    box-shadow: none;
}

.w3-dark-grey {
    background-color: #424242 !important;
}

.alert {
    margin: 0px;
}

.file-list {
    overflow-y: auto;
    height: 100%;
    padding: 10px;
}
