<div class="card m-3 border-0">
    <ul class="list-group">
        {% for folder in folders %}
            <a class="list-group-item text-body" href="/folders/{{ folder.folder_id }}">
                {{ folder.name }}
            </a>
        {% endfor %}
    </ul>
</div>
